#
#    fty-asset - Agent managing information about assets
#
#    Copyright (C) 2016 - 2020 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-asset
Section:        net
Priority:       optional
Maintainer:     fty-asset Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libcxxtools-dev,
    libtntdb-dev,
    libmlm-dev (>= 1.0.0),
    libmagic-dev,
    libssl-dev,
    libuuid,
    libfty-common-logging-dev,
    libfty-proto-dev (>= 1.0.0),
    libfty-common-db-dev,
    libfty-common-mlm-dev,
    libfty-common-messagebus-dev,
    libfty-asset-activator-dev,
    gcc (>= 4.9.0), g++ (>= 4.9.0),
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-asset1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fty-asset shared library
 This package contains shared library for fty-asset:
 agent managing information about assets

Package: libfty-asset-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libcxxtools-dev,
    libtntdb-dev,
    libmlm-dev (>= 1.0.0),
    libmagic-dev,
    libssl-dev,
    libuuid,
    libfty-common-logging-dev,
    libfty-proto-dev (>= 1.0.0),
    libfty-common-db-dev,
    libfty-common-mlm-dev,
    libfty-common-messagebus-dev,
    libfty-asset-activator-dev,
    libfty-asset1 (= ${binary:Version})
Description: fty-asset development tools
 This package contains development files for fty-asset:
 agent managing information about assets

Package: fty-asset
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: runnable binaries from fty-asset
 Main package for fty-asset:
 agent managing information about assets

Package: fty-asset-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    fty-asset (= ${binary:Version}),
    ${misc:Depends}
Description: fty-asset debugging symbols
 This package contains the debugging symbols for fty-asset:
 agent managing information about assets.
