#
#    agent-asset - Agent managing information about assets
#
#    Copyright (C) 2014 - 2015 Eaton                                        
#                                                                           
#    This program is free software; you can redistribute it and/or modify   
#    it under the terms of the GNU General Public License as published by   
#    the Free Software Foundation; either version 2 of the License, or      
#    (at your option) any later version.                                    
#                                                                           
#    This program is distributed in the hope that it will be useful,        
#    but WITHOUT ANY WARRANTY; without even the implied warranty of         
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          
#    GNU General Public License for more details.                           
#                                                                           
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.            

Source:         agent-asset
Section:        net
Priority:       optional
Maintainer:     John Doe <John.Doe@example.com>
Uploaders:      John Doe <John.Doe@example.com>
Standards-Version: 3.9.5
Build-Depends: bison, debhelper (>= 8),
    pkg-config,
    automake,
    autoconf,
    libtool,
    libsodium-dev,
    libzmq4-dev,
    uuid-dev,
    libczmq-dev,
    libmlm-dev,
    core-dev,
    libbiosproto-dev,
    dh-autoreconf,
    systemd

Package: libagent-asset0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: agent-asset
 This package contains shared library for agent-asset: agent managing information about assets

Package: agent-asset-dev
Architecture: all
Section: libdevel
Depends:
    libsodium-dev,
    libzmq4-dev,
    uuid-dev,
    libczmq-dev,
    libmlm-dev,
    libbiosapi-dev,
    libbiosproto-dev,
    libagent-asset0 (= ${binary:Version})
Description: development files for agent-asset
 This package contains development files for agent-asset: agent managing information about assets

Package: agent-asset
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: agent managing information about assets
 Main package for agent-asset: agent managing information about assets

Package: agent-asset-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    agent-asset (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for agent-asset
 This package contains the debugging symbols for agent-asset : agent managing information about assets.

