#
#    fty-asset - Agent managing information about assets
#
#    Copyright (C) 2016 - 2020 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-asset
Section:        net
Priority:       optional
Maintainer:     fty-asset Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    fty-cmake-dev,
    fty-utils-dev,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libcxxtools-dev,
    libtntdb-dev,
    libmlm-dev (>= 1.0.0),
    libmagic-dev,
    libssl-dev,
    uuid-dev,
    libfty-common-logging-dev,
    libfty-proto-dev (>= 1.0.0),
    libfty-common-db-dev,
    libfty-common-mlm-dev,
    libfty-common-dto-dev,
    libfty-common-messagebus-dev,
    libfty-security-wallet-dev,
    libfty-shm-dev,
    libmariadb-dev,
    libfty-common-rest-dev,
    gcc (>= 4.9.0), g++ (>= 4.9.0),
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-asset
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends}
Description: fty-asset shared library with dto

Package: libfty-asset1
Architecture: any
Depends:
    libfty-asset (= ${binary:Version}),
Description: fty-asset shared library with dto
 
Package: libfty-asset-dev
Architecture: any
Section: libdevel
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    libfty-asset
Description: fty-asset development tools

Package: libfty-asset-accessor
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends}
Description: fty-asset accessor shared library

Package: libfty-asset-accessor1
Architecture: any
Depends:
    libfty-asset-accessor (= ${binary:Version})
Description: fty-asset accessor shared library
 
Package: libfty-asset-accessor-dev
Architecture: any
Section: libdevel
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    libfty-asset-dev,
    fty-utils-dev,
    libfty-asset-accessor
Description: fty-asset accessor development tools

Package: fty-asset-server
Architecture: any
Depends:
    libfty-asset,
   ${shlibs:Depends},
   ${misc:Depends}
Description: fty-asset-server 
 This package contains fty asset agent

Package: fty-asset-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    libfty-asset (= ${binary:Version}),
    ${misc:Depends}
Description: fty-asset debugging symbols
 This package contains the debugging symbols for fty-asset:
 agent managing information about assets.
